# انسخ هذا الملف وسمه .env
# ثم احط مفاتيحك الحقيقية

OPENAI_API_KEY=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
GEMINI_API_KEY=AIzaSyANexzUXA2QVW682N1ODrMpBKmYT34wec8
